<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RescueRadar"
        tools:targetApi="31">
        <activity
            android:name=".Admin_Profile"
            android:exported="false" />
        <activity
            android:name=".user_Map"
            android:exported="false" />
        <activity
            android:name=".EmergencyCases"
            android:exported="false" />
        <activity
            android:name=".Register_new_Agency"
            android:exported="false" />
        <activity
            android:name=".DIstrictAdminPage"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" />
        <activity
            android:name=".loginAsAdmin"
            android:exported="false" />
        <activity
            android:name=".FAQ"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".editProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Precautionary_Measure"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".choose_disaster_type"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Choose_userType"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Phone_detail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Choose_Langauge"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>